@import "@radix-ui/colors/gray.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/gray-dark.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/violet-dark.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: -webkit-fill-available;
}

body {
  color: var(--gray-12);
  background: var(--gray-2);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
